.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #f0f2f5;
}

.avatar {
  border-radius: 50%;
}

.username {
  margin-top: 15px;
  font-size: 22px;
  color: #333;
}

.email {
  margin-top: 5px;
  color: #777;
}

.cardContainer {
  background-color: #fafafa;
  padding: 30px;
  border-radius: 20px;
}
