.list {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  min-height: "100vh";
}

.cardTitle {
  width: "1000px";
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
}

.listItem {
  width: "1000px";
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
}

.divCard {
  width: "1000px";
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
}

.image {
  width: "1000px";
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
}

.cardInfo {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "flex-start";
  margin-left: "16px";
}

.cardBtn {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "flex-start";
  margin-left: "16px";
}
