.h100 {
  height: calc(100vh - 64vh);
}

.title {
  display: flex;
  justify-content: center;
}

/* .calendar {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin: "auto";
  width: "80em";
  border: "1px solid black";
} */
