.h100 {
  height: calc(100vh - 64vh);
}

.title {
  display: flex;
  justify-content: center;
}

/* .calendar {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin: "auto";
  width: "80em";
  border: "1px solid black";
} */

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: background-color 0.2s;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.page-numbers {
  display: flex;
}

.page-number {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.page-number.active {
  background-color: #1890ff;
  color: #fff;
}

.page-number:hover {
  background-color: #f0f0f0;
}
